const {
    Client,
    EmbedBuilder,
} = require('discord.js');

module.exports = {
    id: '',
    /**
     * @param {} interaction
     * @param {Client} client
     */
    async execute(interaction, client) {

    },
};
