const {
  SlashCommandBuilder,
  ChatInputCommandInteraction,
  EmbedBuilder
} = require("discord.js");

module.exports = {
  subCommand: 'cmd.sub',
  /**
   *
   * @param {ChatInputCommandInteraction} interaction
   */
  async execute(interaction, client) {

  },
};
